/* Global */

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

:root {
  --main-color: #141214;
  --secondary-color: #141014;
  --accent-color: #9137d1;
}

/* Chats Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(var(--secondary-color), var(--main-color));
}

.nav-bar {
  width: 100%;
  height: 66px;
  background-color: var(--secondary-color) !important;
}

.logo-tab {
  position: absolute;
  left: 22px;
  top: 12px;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.logout-tab {
  position: absolute;
  top: 22px;
  right: 22px;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

#login-page {
  background-image: linear-gradient(var(--main-color), var(--main-color));
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  color: white;
  background-color: var(--secondary-color) !important;
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.facebook {
  background-color: #3b5998;
  color: white;
}

.google {
  background-color: #4285f4;
  color: white;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--secondary-color);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}

/* Chat Engine */

.chats-page > div > div > div,
.ce-chat-list,
.ce-chats-container,
.ce-settings {
  background-color: var(--main-color) !important;
}

.new-chat-plus-button,
.ce-chat-unread-dot,
#ce-send-message-button{
  background-color: var(--accent-color) !important;
}

.ce-feed-container,
.ce-ice-breaker,
.ce-chat-title-container,
.ce-chat-settings-mobile-option > div > div > div,
#ce-feed-container,
#toolbar,
.ql-editor{
  background-color: var(--main-color) !important;
  color: white;
}

.ce-text-input,
.ce-section-title-container,
.ce-person-container,
.ce-autocomplete-option > div,
.ce-chat-title,
.ce-active-chat-card,
#ce-add-username-input,
#ce-delete-chat-button,
#ce-options-drop-down{
  background-color: var(--secondary-color) !important;
  color: white;
}

.ce-my-message-bubble,
#ce-connecting-popup{
  color: white;
  background-color: var(--accent-color) !important;
}

.ce-chat-settings-mobile-option > div > div > div > div,
.ce-chat-title-text,
.ce-message-date-text{
  color: white;
}

.ce-chat-settings-mobile-option svg,
.ce-chat-list-mobile-option svg {
  color: white; outline: none;
}

.ce-message-date-text,
.ce-chat-subtitle-text,
.ce-their-message-sender{
  color: grey !important;
}

.ce-chat-settings-mobile-option > 

.ce-active-chat-card {
  background-color: var(--main-color) !important;
  border: 2px solid #cabcdc !important;
  border-radius: 0px !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
  background-color: var(--main-color) !important;
  color: white;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid var(--secondary-color) !important;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: var(--accent-color) !important;
  position: relative;
  bottom: 1px;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid var(--secondary-color) !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid var(--secondary-color) !important; 
  background-color: var(--main-color) !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

img#ce-ice-breaker-gif{
  opacity: 0 !important;
}

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: var(--main-color);
}

.chat-title-container {
  width: calc(100% - 36px);
  padding: 18px;
  text-align: center;
}

.chat-title {
  color: var(--secondary-color) !important;
  font-weight: 800;
  font-size: 24px;
}

.chat-subtitle {
  color: var(--secondary-color) !important;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  color: white;
}